[2018-02-26 23:02] aarongarciah opened #2 "Allow customization of class names via props"
It would pretty neat IMO to have the possibility of configuring the CSS classes used by the component, specifically `v-lazy-image` and `v-lazy-image-loaded`. How about two props to enable customization and give them a default value with the names you are already using? Maybe `className` and `classNameLoaded`?

[2018-02-26 23:11] aarongarciah opened #3 "Show random images in the demos"
Using the Unsplash API (or another one) to show a random image every time the demo loads will ensure that the image is not cached and will be easier to notice the lazy loading of the image.

It can be used calling this url https://source.unsplash.com/random or that same url with the specific dimensions if you want https://source.unsplash.com/random/500x500.

[2018-02-26 23:13] aarongarciah commented on #3
Ok, now I see that this makes no sense in the progressive demo since you are using a blurred placeholder. Sorry!

https://codesandbox.io/s/l4vxvmpqym

[2018-02-27 11:16] alexjoverm commented on #2
Hi @aarongarciah, I went ahead a merged #4, but then gave it a second thought and reverted it on #5, so we can discuss it.

I think it doesn't provide much value since, in Vue.js you can use [scoped styles](https://vue-loader.vuejs.org/en/features/scoped-css.html), which means that in a parent component you can style safely the `v-lazy-image` class by setting `<style scoped>` and override the inne

[2018-02-27 11:20] alexjoverm commented on #3
Yeah, I needed a service which let you use the same image in a different size. Medium is the one I found. You can set the size in any image url by replacing `SIZE`:

`https://cdn-images-1.medium.com/max/SIZE/1*xjGrvQSXvj72W4zD6IWzfg.jpeg`

What we can do is to use a different image for any case of the https://codesandbox.io/s/9l3n6j5944 demo. What do you think?

[2018-02-28 08:34] JMPerez opened #7 "License"
It would be good to add a license so developers have clearance around this.

[2018-02-28 09:38] alexjoverm commented on #7
Done on 7fc575c :)

[2018-02-28 09:38] #7 closed

[2018-02-28 11:44] Xaviju opened #8 "Missing `alt` attibute"
MDN: This attribute defines the alternative text describing the image. Users will see this text displayed if the image URL is wrong, the image is not in one of the supported formats, or if the image is not yet downloaded.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-alt

Cannot PR it right now but basically add it to props:

[code]
and to render:
[code]
Sorry not sure if rend

[2018-02-28 12:17] Xaviju commented on #8
Oh, I've seen in [this example](https://codesandbox.io/s/r5wmj970wm) that it accepts the alt attribute already... closing this

[2018-02-28 12:17] #8 closed

[2018-02-28 12:19] alexjoverm commented on #8
Yeah, by default all non-props attributes passed to a component in Vue.js are added to the component's root element :). Thanks for the heads up anyway!

[2018-02-28 15:56] aarongarciah commented on #2
Hi @alexjoverm,

The idea is to give choices to the user. Maybe a user is not happy about this CSS-in-JS thing and is styling his app with an external file or is using Bootstrap from a CDN. Or maybe is following a naming convention to name the classes that v-lazy-image breaks.

[2018-02-28 22:37] aarongarciah commented on #3
Seems nice 👍

[2018-03-01 00:32] aarongarciah opened #9 "Support responsive images"
Would be great to support the `srcset` attribute to use responsive images. I will open a PR with this :)

[2018-03-01 09:11] alexjoverm commented on #3
Since you're the owner of the demo, I think you should do it. Some images you can use:

 - https://cdn-images-1.medium.com/max/800/1*Uc2QFJLZhu8MQ9-UgupGRA.jpeg
 - https://cdn-images-1.medium.com/max/800/1*TeymfgOgswgMnEJeYoYsVg.jpeg
 - https://cdn-images-1.medium.com/max/800/1*CimXtSxVLsdmFqq2viRu5Q.jpeg
 - https://cdn-images-1.medium.com/max/2000/1*V0F0-8AH8oV1LUSCbQsX4w.png

For the placeholder

[2018-03-01 09:18] alexjoverm commented on #2
I understand your point, although I don't think it provides any value at the moment. Not sure what you mean with css-in-js, but is not a library concern to follow naming conventions or styling from other css frameworks. A component should be self contained and provide its own stylings. Still, it's possible to style it with global css using classes.

In general this is not needed in Vue (true that

[2018-03-01 09:18] #2 closed

[2018-03-01 10:01] aarongarciah commented on #2
Is your library, is your choice 😛 There are folks who prefer to leave the
CSS outside of the JS and use Vue to render the markup. But I understand
your point also.

Thanks for considering!
El El jue, 1 mar 2018 a las 10:18, Alex Jover <notifications@github.com>
escribió:

--
Regards,

Aarón García Hervás
Front-End Developer
aarongarciah.com

[2018-03-01 13:29] sldobri opened #12 "error Can't find variable: IntersectionObserver"
[Vue warn]: Error in mounted hook: "ReferenceError: Can't find variable: IntersectionObserver"

found in

---> <VLazyImage>

[2018-03-01 14:00] alexjoverm commented on #12
Hi @sldobri, it seems like the browser you're using it doesn't support IntersectionObserver. As [stated in the doc](https://github.com/alexjoverm/v-lazy-image#usage) you must load the polyfill :).

[2018-03-01 14:00] #12 closed

[2018-03-01 16:59] aarongarciah commented on #3
Done :)

[2018-03-01 16:59] #3 closed

[2018-03-01 17:32] #9 closed

[2018-03-08 15:05] bovas85 opened #13 "Intersection Options should have a factory function as default"
`Invalid default value for prop "intersectionOptions": Props with type Object/Array must use a factory function to return the default value
`
Getting an error like this with Nuxt.

Will try to PR something in a bit

[2018-03-08 23:01] ay13 commented on #13
@bovas85 is this your PR for this issue?

https://github.com/alexjoverm/v-lazy-image/pull/14

[2018-03-09 07:40] bovas85 commented on #13
Yes indeed

[2018-03-12 16:57] alexjoverm commented on #13
Thanks @bovas85 for the issue and the PR! I've left a comment in #14 :)

[2018-03-12 18:02] alexjoverm commented on #13
Closed by #14

[2018-03-12 18:02] #13 closed

[2018-03-29 09:16] patric-eberle opened #17 "Feature: picture support"
Your plugin does a great job with `srcset` and `sizes`. Unfortunately we also need the `picture` element in our projects to display screen optimized images in different ratios. Do you have plans to add support for `picture` and `source`?

http://scottjehl.github.io/picturefill/#using-picture

[2018-04-16 21:38] alexjoverm commented on #17
Hi! Sorry for the delay. Yeah that's something we could add indeed, although it will probably need some rework.

What could be a good way to do it while keep it simple for the user? Probably the best is to move the logic into a mixin, and create a different component for the picture based one?

Something like:

[code]

Let's give it a thought

[2018-06-16 23:45] andreynazarov3 commented on #17
I made this support in my project, though i didn't publish it yet as it's little too dirty right now.

[2018-06-16 23:49] andreynazarov3 commented on #17
I made this support in my project, though i didn't publish it yet as it's little too dirty right now.
I use picture tag if srcset is provided:
[code]

[2018-06-20 07:35] sprlwrksAprilmintacpineda opened #19 "event hooks?"
[code]

[2018-06-26 09:51] iNerV opened #20 "webpack aliases path"
Hi, component dont work with webpack aliases path like `<v-lazy-image src="~/assets/my-image.png"/>`?

[2018-06-28 08:37] AlexeyShaykov commented on #17
Hi(привет!) @andreynazarov3. Thanks for your work.
Whats news, about  picture support? i have same issues.
Thanks.

[2018-06-29 11:46] andreynazarov3 commented on #17
@AlexeyShaykov , Hi, not yet, but it is will be soon, this weekend probably

[2018-06-29 11:50] andreynazarov3 opened #21 "Feature: Medium-style blur effect"
There's article https://alligator.io/vuejs/progressive-image-rendering/
A guy uses this library and makes blur effect with svg filter.
I tried to use it in my project but it seems to not be working on iOS devices at all, also problems with Firefox and Edge.
So I guees this should be implemented in this library the way like medium does this - with ```<canvas>``` element. There's already blur librar

[2018-06-29 12:03] alexjoverm commented on #17
Thanks for the support on this feature! It'd be great if the feature keeps the API without any breaking changes. The `usePictureTag` props sounds good, any other ideas? The aim is to make it as flexible as posible, while keeping it concise and easy to use

[2018-06-29 12:08] alexjoverm commented on #21
Hey @andreynazarov3! It could be nice to have this feature, although I wouldn't have it opt-in in this library.

What about allowing the user to use scoped slots, so we make the rendering flexible? That's something it could work as well for #17, since the user literally could render it in any way it wants, while still encapsulating the lazy-loading logic

[2018-06-29 12:09] #19 closed

[2018-06-29 12:10] alexjoverm commented on #20
Sorry, that has nothing to do with this library, it depends entirely on your webpack settings

[2018-06-29 12:10] #20 closed

[2018-06-29 12:12] alexjoverm commented on #17
Even a better way, as suggested on #21, is to allow using scoped slots. In that way, we can provide a default way to use it (as it currently works) while providing the users the capability to render the component as they want, so that they could use a `picture` tag, a `canvas` or whatever while encapsulating the lazy-loading logic

[2018-06-30 08:37] andreynazarov3 commented on #17
@AlexeyShaykov  Well, I finally re-written component for `<picture>`, you can check out code here:
https://github.com/andreynazarov3/VueLazyPicture
I prefer using single-file component and included medium blur in it.
@alexjoverm I used your part for intersection observer. Everything else is new so it's not suitable for pull request.

[2018-06-30 08:40] andreynazarov3 commented on #17
Also I found out that vue has @load event you can place on image, very handy.

[2018-07-13 17:02] dgroh opened #23 "max-height not working"
If I use `max-height` in the component it does not work. `max-width` works as expected. Any idea?

[2018-07-13 17:09] dgroh commented on #23
Sorry, just had a container which was breaking my layout, so, all fine!

[2018-07-13 17:09] #23 closed

[2018-07-23 06:48] AlexeyShaykov commented on #17
@andreynazarov3, Thx work awesomely!

[2018-07-23 07:01] AlexeyShaykov opened #24 "background images lazy loading"
@andreynazarov3, Thanks for your work.
How about lazy loading background-image for div?

[2018-07-23 10:56] alexjoverm commented on #21
@andreynazarov3 what could be needed for doing the transition with `<canvas>`? I think I'll update the article https://alligator.io/vuejs/progressive-image-rendering as well, when I wrote the article I didn't think about the canvas thing

[2018-07-23 10:58] alexjoverm commented on #24
Hmm... couldn't you place this component inside the div? What's exactly the requirement?

[2018-07-23 11:14] andreynazarov3 commented on #21
@alexjoverm I've made such transition with just using css transition for opacity. 1) Load small image with 0 opacity 2) Generate blurred canvas and show it 3) Load large image with 0 opacity 4) Change large image opacity to 1. So this ends up with hamburger of Small Image/Canvas/Large Image in one block.

There is one bug in this logic coming from canvas when using srcset with media queries.
In ca

[2018-07-23 11:16] andreynazarov3 commented on #21
@alexjoverm BTW, svg filter in fact should work in iOS, it's just intersection observer not supported, so needs polifyll. But, anyway, as for me, I think canvas blur just looks better, and maybe in fact less CPU consuming.

[2018-07-23 11:38] AlexeyShaykov commented on #24
no i`m toking about lazy background-image loading, like css attribute. Some block have img like background, first loading small background image with blur, and then loading big background image.
<div v-bg-lazy= "{ 'miniBgimg' : '/...', 'bigGbImg': '/...' }"

[2018-08-01 09:55] ngohuunam opened #25 "How handle Image load broken?"
Hi
I tried to bind event @error but no luck. Is there any way to handle this case?

[2018-08-01 12:16] alexjoverm commented on #25
Hi! That's not implemented right now. Would you open a PR? It shouldn't be hard to implement, since it would be similar to how the [load event](https://github.com/alexjoverm/v-lazy-image/blob/master/src/index.js#L38) is done right now.

[2018-08-07 14:35] docmattman opened #26 "Start loading image before it comes into view?"
Is it possible to have images start loading before they come into view?  Right now, it seems like it begins to load the image as soon as it is scrolled into the view.  Is it possible to start loading the image 100px or 200px (any custom value) ahead of time?  this would help minimize the amount of time the placeholder is seen while the real image is downloaded.  Is there some sort of padding setti

[2018-08-16 07:59] alexjoverm commented on #26
You can do that by setting the `rootMargin` option of the `intersection-options` prop https://github.com/alexjoverm/v-lazy-image/blob/master/README.md#props

[2018-08-16 07:59] #26 closed

[2018-08-16 08:01] alexjoverm commented on #26
So, this would load it 500px before reaching the viewport:

[code]

[2018-08-25 18:03] ondrejlohnisky opened #27 "not working"

[2018-08-26 11:14] #27 closed

[2018-08-28 04:56] ssatz opened #28 "Nuxt.js SSR Support"
Does it support nuxt.js?

[2018-09-11 01:31] darkylmnx opened #29 "Not working when dynamically changing src on already mounted image"
It doesn't seem to work when dynamically changing the image (in case of a caroussel for example).

I've checked your code and it seems you are not watching the **src** prop change. Your computed property has the **src** as dependency but nothing seems to reset the **intersected** data which make the next loading not work properly (I mean withou any lazy load or anything).

[2018-10-24 13:25] idmick opened #30 "Not working on Safari"
I'm running into a problem when I open my project in Safari.

Safari doesn't support:
- intersectionObserver which results in the following error:
ReferenceError: Can't find variable: IntersectionObserver

Does anybody else encounter this problem, and is there a workaround?

Thnx

[2018-10-30 18:05] alexjoverm commented on #30
If you read the Usage section on the docs, you'll find the answer ;)

[2018-10-30 18:05] #30 closed

[2018-12-11 06:07] muhammadridho opened #31 "Add Polyfill intersection-observer"
Hi I have a problem when using this library when on a **Safari Browser**. Namely the problem of the absence of fire **observer-intersections** on safari. can you add it to this library?

[2018-12-12 06:00] jengel3 commented on #31
I think it would be better to handle adding the polyfill yourself - however I do think that the library should automatically if the browser supports `IntersectionObserver` or not because otherwise it will throw errors, especially when `observer.disconnect()` is called [here](https://github.com/alexjoverm/v-lazy-image/blob/e00f2d3686dcfafc8e1be4d1dd52be8eec50ac03/src/index.js#L57)

[2018-12-18 18:52] amcsi opened #32 "Feature request: ablility to set the height/width for the images"
It would be great to be able to set the height/width of the image including the placeholder image.

This is because e.g. on my website I use smaller versions of the same images as placeholders; as such, the width/height of the placeholder would need to be set to match that of the main image.

[2018-12-18 18:55] amcsi commented on #32
Never mind, I believe I misunderstood how your component works under the hood. I didn't realize the placeholder and the real image are all the same tag :)

[2018-12-18 18:55] #32 closed

[2018-12-20 11:37] anthonygore commented on #17
Hey Alex. Another feature that would be useful would be to allow multiple source tags. That way you can use a modern image like webp and have a fallback to jpg e.g.

[code]

[2018-12-20 11:49] alexjoverm commented on #17
@anthonygore yes! This feature would allow that, thanks for the link as well.

Right now I don't have the time to work on this feature, but if anyone wants to I'm more than happy to review it!

[2018-12-20 13:16] LifeIsStrange opened #33 "can this be used on non vue websites ?"
I use native dom.

[2019-01-14 04:59] anthonygore commented on #17
Hey all, I think I've got a solution for this, would appreciate any feedback.

Pull request #35

[2019-01-31 13:55] ansidev commented on #28
Currently, it doesn't work. I tried to add v-lazy-image as Nuxt plugin with option `ssr: false` or `ssr: true`.
The image was downloaded but the load event is not emitted.

Reproduce repo: https://github.com/ansidev/v-lazy-image-nuxt

[2019-02-01 10:40] #33 closed

[2019-02-01 10:53] alexjoverm commented on #31
Yes, it's better to handle the polyfill yourself. It wouldn't be a bad idea to have some checks in the library for sure.

[2019-02-01 10:53] #31 closed

[2019-02-01 13:59] alexjoverm commented on #17
Thanks to the amazing work of @anthonygore, this is available from 1.3.0 🎉

[2019-02-01 13:59] #17 closed

[2019-02-01 14:01] alexjoverm commented on #31
From 1.3.1, it will check for IntersectionObserver and throw an Error if it doesn't find it 🎉

[2019-02-02 02:11] cbaxter713 opened #36 "Picture tag not working with media breakpoint"
Hi @alexjoverm , I'm using v-lazy-image to lazy load some banners that use the picture tag.  I've followed the readme to set this up, and while the picture images do lazy load as expected at mobile dimensions, they are not lazy loading at desktop dimensions above the media breakpoint.

Here is how I am using it:
[code]

which is rendering as:
[code]

So at screen sizes below 800px, all of the pict

[2019-02-02 03:18] anthonygore commented on #36
I'll take a look now

[2019-02-02 04:55] anthonygore commented on #36
Okay I think the issue is that the slot contents are not being lazy loaded.

I think the solution is to only render the slot contents when the picture enters the viewport. Will submit a PR to fix it.

Will that cause any bad side effects?

[2019-02-02 05:37] cbaxter713 commented on #36
I don't believe so, but I guess it depends on how the browser evaluates which src from the <picture> to show, given that the <source> is now injected at a different time. But I think that will work

[2019-02-04 10:42] alexjoverm commented on #36
Closed by #37. Thanks to @anthonygore

Keep in mind this issue might be related to #29 as well, according to the example. Feel free to continue the discussion in there if so.

[2019-02-04 10:42] #36 closed

[2019-02-06 03:50] cbaxter713 commented on #36
@alexjoverm @anthonygore you guys rock. Thanks for the quick resolution.

[2019-02-22 01:30] althe3rd commented on #21
I'm encountering the same issue when trying to do progressive loading, ios browsers don't work.  Is this just a known issue with the way the effect is accomplished and I should use a different js module to accomplish this effect? Or is there something I can do with v-lazy-load that will resolve this there?

Can't really afford to just not show images clearly in ios.

[2019-02-22 02:16] althe3rd commented on #21
@andreynazarov3 Is the polyfill something that should be included in the default v-lazy-image package or something I can add myself separately if I am applying more control over the blur up technique? I haven't seen any updates or examples that show v-lazy-image working in iOS so I may just have to try another or write my own from scratch.

[2019-02-22 06:34] andreynazarov3 commented on #21
yes, you should add yourself intersection observer polyfill, thats all

[2019-02-22 06:36] #21 closed

[2019-02-27 00:57] callumflack commented on #29
Confirmed, I see this too.

[2019-03-09 22:28] manniL opened #39 "Bug: undefined srcset with use-picture"
Heyho :wave:

The following code will result in an `undefined undefined` value for the `srcset` of the `source` slot.
Using a string instead (`:srcset="'https://googlechrome.github.io/samples/picture-element/images/butterfly.webp'"`) is a workaround to avoid that issue.

[code]

CSB: https://codesandbox.io/s/3097oj4rlp

[2019-03-12 00:18] rcpires opened #40 "Attribute Inheritance"
Would be very useful to be able to pass dynamic attributes (or a least class property) to v-lazy-image component, for example to add a custom class to rendered img tag:

So this code:

`<v-lazy-image class="my-custom-class"` ...></v-lazy-image>

Would generates a img tag with my custom class:

`<img class="v-lazy-image v-lazy-image-loaded my-custom-class" ... />`

Thanks!

[2019-03-18 07:04] frandiox commented on #40
+1 to this, when using `use-picture` prop, the `<picture>` element gets the class instead of the `<img>`. Not sure if that's useful in some case but there should be a way to add classes to the `<img>` element for `object-fit: cover;`, etc.

Thanks for the tool!

[2019-03-26 21:49] d4rkr3pt0r commented on #28
@ssatz Yes it does

[2019-04-03 08:38] jagroop opened #41 "v-lazy-image-loaded not being added once the image is fully loaded"
v-lazy-image-loaded not being added once the image is fully loaded

https://github.com/alexjoverm/v-lazy-image#progressive-loading

[2019-04-05 07:30] jigeshraval opened #42 "Not working iPhone 7 plus with IOS 11"
Not working properly with iPhone browsers such as Chrome, Safari and Mozilla

[2019-04-18 14:50] mornir commented on #42
You'll need to install the w3c Intersection Observer polyfill in case you're targeting a browser which doesn't support it.
Intersection Observer is supported from iOS v12.2

[2019-05-15 03:24] jeancarlos commented on #25
What I did:
[code]

and then:
[code]

Not perfect solution, but it did the job incredibly well.

[2019-05-17 17:20] maiolica opened #44 "Feature request: src-placeholder with use-picture"
Would it be possibile to have the attributes **src-placeholder** and **use-picture** working at the same time?

Using Chrome 74, this component:

[code]
renders an empty picture tag until the image scrolls into viewport:

`<picture></picture>`

Wouldn't this solution be preferable?
[code]

Thanks!

[2019-05-27 01:58] rene-dohan opened #45 "how to add progress loader instead of placeholder image ?"
I would be cool if I can add just infinite progress instead of placeholder to image before it loads. In example code to do that ? Is that easily possible ?

[2019-05-27 02:11] rene-dohan commented on #45
Ok :) I added animated gif...

[2019-05-27 02:11] #45 closed

[2019-05-29 20:13] EnzoBatista commented on #42
@mornir How did you implement this fix?

[2019-06-05 05:19] AlexBa opened #47 "Feature request: class attribute on fallback image in picture tag"
Hello,
I would like to use custom CSS classes on the fallback image in the picture tag. As far I see it in the code, it's currently not possible to do this. I imagine something like:

[code]

Which will be rendered as:
[code]

Would this be possible? Does the solution make sense or will be there any problems in the future?

Thank you in advance!

[2019-06-11 15:11] mrleblanc101 opened #48 "Doesn't work if image is in no-ssr component"
If the image is in a <no-ssr> component, it will never load if it is in the screen when the page initialy load. If i scroll past the content and come back, it will load and trigger the Observer and replace the image.

[2019-06-25 15:56] rocchidavide commented on #24
Could be useful to play with background position, like
[code]

[2019-07-05 14:59] michaelpumo commented on #48
I get the same issue with Nuxt but actually the opposite to you. If I use it within <no-ssr> tag it works fine.

The reason I think images do not load until you go past and come back, is that the props for the src to the component holding the image are only resolved **after** v-lazy-image checked the src.

[2019-07-05 22:53] RomanNagornyi opened #49 "Wraping the img in a picture tag doesn't work for chrome 75"
Hello

For this version, lazy loading is by default in the browser and this crashes the plugin. A tag
[code]

 is empty.

Hope for help.

[2019-07-08 09:11] alexjoverm commented on #49
Hi @RomanNagornyi. Sorry but I need more info to fully understand the issue. Could you provide more info, and maybe a demo to reproduce it?

[2019-07-08 09:12] alexjoverm commented on #48
We're using it within no-ssr in production and it works. Please provide a reproducible example if you still find this issue.

[2019-07-08 09:12] #48 closed

[2019-07-08 22:15] RomanNagornyi commented on #49
Hello

I have this issue only in Chrome for last month. For others browsers everything is ok. I use Nuxt with nested components. The problem is that inside these components v-lazy-image is never intersected. IntersectionObserver for empty
[code]

is never fired to be "isIntersecting"

[code]

But if I make a picture tag not empty? like this
[code]
image is loaded. (I added "dot" ["."])

Maybe this

[2019-07-08 23:21] RomanNagornyi commented on #49
I have added some dimension for picture tag and it works.
[code]

maybe it worth a pull request ? )

[2019-07-12 08:36] simonhermann commented on #49
This seems to fix it for me, at least when not using `use-picture`
[code]

When enabling `<picture>`, chrome still does not load the images sometimes..

[2019-07-12 11:47] alexjoverm commented on #49
Hey folks, thanks a lot for your effort on investigating about this issue! Much appreciated.

I see some solutions are proposed already in the thread. Please feel free to submit a PR and I'll review it ;)

[2019-07-30 08:45] JFGHT opened #51 "New release"
Would be good to have a release with the latest changes.

[2019-08-09 12:54] webistomin commented on #42
https://github.com/w3c/IntersectionObserver/tree/master/polyfill

[2019-08-09 13:23] EnzoBatista commented on #42
@mornir I've already done it, but thank you anyway

[2019-08-09 13:28] mornir commented on #42
https://github.com/Timkor/nuxt-polyfill (there's an example for intersection-observer)

[2019-08-09 13:29] mornir commented on #42
@EnzoBatista Then please close this issue :-)

[2019-08-09 13:29] mornir commented on #42
@jigeshraval Can you please close the issue?

[2019-09-19 17:33] jgimness commented on #29
Here's a fix, add a watcher and re-observe the disconnected observer

    watch: {
        src(newSrc, oldSrc) {
            if ("IntersectionObserver" in window) {
                this.intersected = false
                this.observer.observe(this.$el)
            }
        }
    },

One last problem is that there will be a momentary flicker back to the placeholder image.   For my app, I need to

[2019-10-20 12:30] mornir commented on #41
Are you using PurgeCSS and/or Tailwind? If yes, make sure that you white-listed the 'v-lazy-image-loaded' class.
[code]
In my case, I preferred to simply move the class from the external stylesheet into layout.vue. Styles in vue components/layouts are not "purged".

[2019-10-21 07:00] #41 closed

[2019-10-24 14:08] wallysonn opened #53 "Standard Error Image"
How to set a default image if the main image fails?

[2019-10-25 12:14] andresclua opened #54 "Basic Configuration with local images"
hi there,
First of all, plugin si working amazing with cdn images, but when I try to apply it with local images, is not working at all.

<template>
  <div id="app">
    <div id="nav">
      <h1 class="jumbotron-heading">Album example</h1>
    </div>
    <router-view/>
    <img alt="Vue logo" src="./assets/logo.png">
    <hr>
    <v-lazy-image src="./assets/logo.png" />

  </div>
</template>

path

[2019-11-27 08:52] taka66 commented on #49
Any update for this issue?

[2019-12-06 12:48] teuzinPereira commented on #42
@webistomin I installed polyfill as mention in docs, but the problem persist.
According docs, just need to install via NPM and use require('intersection-observer').

I xcode console the error reported before is not showing anymore, but the image that´s suposeed to be load, is not showing.

There is any other configuration to be done?

tks

[2019-12-06 18:23] webistomin commented on #42
I'm usin nuxt.js, so I can only help you with that framework.

Alternatively, you can install pollyfill through Polyfill.io.

Just insert this
`<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CIntersectionObserverEntry"></script>`

[2020-01-15 14:06] JFGHT commented on #53
`            <v-lazy-image
                :src="slotProps.firstImage || require('@/assets/images/property/properties-placeholder.jpg')"
                :src-placeholder="require('@/assets/images/property/properties-placeholder.jpg')"
            />`

[2020-01-15 14:10] JFGHT commented on #54
`            <v-lazy-image
                :src="slotProps.firstImage || require('@/assets/images/property/properties-placeholder.jpg')"
                :src-placeholder="require('@/assets/images/property/properties-placeholder.jpg')"
            />`

[2020-02-26 21:16] san-kumar opened #65 "crossorigin attribute"
I'm using this in a media gallery where I'm using a crossorigin="anonymous" tag so that I can use the selected image on to a canvas.

Is there any way to pass the crossorigin property to the image tag upon loading?

Thanks.

[2020-04-10 07:42] GadQ commented on #25
Actually @error.native doesn't work for me.
If there is intersect/load event emitted it would be nice to also have error emitted.

[2020-04-17 11:58] BurningDog commented on #28
Note: for SSR to render an image the `src-placeholder` attribute needs to be used. If you _just_ pass in `src` then the SSR rendered html will be `<img src="//:0">` (as of version 1.4.0) - previously it would be `<img src="">`.

[2020-04-20 14:47] BurningDog opened #68 "W3C HTML validator reports //:0 is not valid html"
The [accepted answer](https://stackoverflow.com/a/5775621) to “What’s the valid way to include an image with no src?” is `//:0` - however, the W3C HTML validator doesn’t like the `src` value being `//:0`

![79729558-ecceec80-82ef-11ea-9b0f-65649ca5fec4](https://user-images.githubusercontent.com/787653/79765004-5d90fb80-8326-11ea-8157-3563e827897c.png)

https://stackoverflow.com/a/53365710 has a be

[2020-04-20 15:21] muhammedjenos commented on #26
Is there a way to globally apply this instead of every v-lazy-image component?

[2020-05-04 08:05] sijith-bridge opened #69 "$event is showing undefined when function calling in @load"
I tried to call a function in @load
<v-lazy-image :src="imageCDNPath+product.ShelfFile.FileName" @load="whenImgLoaded($event)"
               />

but event is showing undefined in function, is there anything to add ?

[2020-06-02 08:31] wusongliang opened #70 "Does it support Internet explorer?"

[2020-06-16 11:25] MarcelloTheArcane opened #71 "Image carousel loads all the images"
I have an image carousel, with some images outside the viewport. Since this is horizontal, it appears that the images are all loaded as they are within the vertical boundary.

Here's an example. All the images are loaded:

[code]

Is there a way to make it check for horizontal viewport collision too?

[2020-06-25 08:37] AndrewBogdanovTSS commented on #70
Warning: You'll need to install the w3c [Intersection Observer polyfill](https://github.com/w3c/IntersectionObserver/tree/master/polyfill) in case you're targeting a browser which doesn't support it.

[2020-06-25 08:38] AndrewBogdanovTSS commented on #65
Do you use img or picture tags?

[2020-06-25 16:02] san-kumar commented on #65
img tags mostly

[2020-06-29 22:20] oleksanrei opened #72 "Image dimensions warning message"
I'm getting a warning message when using this library on the Nuxt client-only block

`[Intervention] An <img> element was lazyloaded with loading=lazy, but had no dimensions specified. Specifying dimensions improves performance. See https://crbug.com/954323`

[2020-06-30 07:18] AndrewBogdanovTSS commented on #72
@oleksanrei this warning is not related to v-lazy-image lib, it's related to using `loading=lazy` attribute on the image. The real problem of v-lazy-image is that it doesn't keep image dimensions when lazy loading an image so it first appears collapsed. I guess the warning above is just highlighting this problem. Please, provide a component code that you use for managing v-lazy-image images

[2020-07-17 21:19] #70 closed

[2020-07-17 21:21] #68 closed

[2020-08-03 22:54] Techassi commented on #69
Can confirm. It seems like only the error handler passes in the element (see [L41](https://github.com/jjragomes/v-lazy-image/blob/1759850aa2a8ce3f7808f714f6a12b5fa6e42f97/src/index.js#L41))

[2020-08-11 16:12] webistomin opened #74 "inheritAttrs: false"
Hi! I ran into the problem that `v-lazy-image` does not inherit attributes. For what reasons does the library specify [`inheritAttrs: false`](https://github.com/alexjoverm/v-lazy-image/blob/master/src/index.js#L23)? Is there a way to pass attributes?

[2020-09-01 11:32] MarcelloTheArcane commented on #71
My fault, I was using tiny images as a placeholder, so it rendered them all side by side.  I've now updated their widths to be full width, so they load as expected.

[2020-09-01 11:32] #71 closed

[2020-09-07 11:28] melalj commented on #49
Is this project no longer maintained?

[2020-10-08 00:58] Techassi commented on #69
I have gone ahead and wrote my own package. It improves on different functions, fixes this issue and is Vue 3 compatible. Feel free to take a look [here](https://github.com/Techassi/vue-lazy-image)

[2020-10-28 13:39] AndrewBogdanovTSS opened #78 "Is v-lazy-image SEO optimized?"
I use Nuxt to SSR the content of my page. When I look at rendered page content I see that all my images are just black 1px image which is used in the `src-placeholder` attribute. Is it needed to provide a fallback with regular `img` inside `noscript` tag when `v-lazy-image` is used or it automatically handles clients that don't support scroll similar to how [lazysizes](https://github.com/aFarkas/l

[2020-10-29 10:03] AndrewBogdanovTSS opened #79 "[Feature Request] Full SSR support"
Right now the only proper way of using this lib with SSR is to wrap it in <client-only> tag. But is it possible to implement a full SSR support so images would also properly render to SSR? The issue that exists right now is that if <client-only> is omitted sometimes intersection observer is not triggered after initial load and images appear hidden although they are already within a viewport

[2020-11-09 13:04] giticon opened #81 "img srcset error"
Props
[code]

Page
[code]

Same error you can see here

https://github.com/nuxt/content/issues/601

[2020-12-09 04:31] arhariri79 opened #82 "mobileSize"
When i use the v-lazy-image in size of mobile with android 7 or less than one
v-lazy-image does not show image in my mobile
please help me
thank you

[2021-01-26 20:37] highoncarbs commented on #54
Would it increase JS bundle size ?

[2021-01-27 08:16] highoncarbs commented on #54
Move your images to `static` folder ,  and  ` <VLazyImage :src="/images/hello.jpg" />` , where images is the folder in static folder

[2021-01-27 11:35] #54 closed

[2021-01-28 00:33] highoncarbs commented on #47
Hey ! Got anything on this ?

[2021-01-28 16:18] highoncarbs commented on #81
[code]

I did this , it solved for me - i removed the srcset props

[2021-04-12 07:49] ayoubkhan558-zz opened #87 "Please update it to latest vuejs v3 + TypeScript"

[2021-06-19 18:09] doutatsu commented on #87
Even just the VueJS v3 support would be great, especially now that the migration build is available

[2021-09-08 08:44] darkissdark opened #93 "Vue 2 - v-lazy-image 2.0.1 - Missing file extension for "v-lazy-image/v2""
how to fix this?

[2021-09-10 13:34] OliverSergej opened #94 "error css-class"
Hey,

Could u add a css-class like "v-lazy-image-errir" when the image loading fails?
I tried to add it myself with the error function but v-lazy-image is overwriting the classes.

thank u :)

[2021-09-16 06:27] bhayawalaarpit opened #95 "render function or template not defined in component: v-lazy-image"
**Import v-lazy-image:**
import VLazyImage from "v-lazy-image";

**Register Component**
components: {
    VLazyImage
  }

**Call the Component:**
<v-lazy-image src="/images/demo.png" alt="Stockmusic.net home page" />

Would please help me to fix this issue?

[2021-09-22 09:42] misaon commented on #93
`import VLazyImage from 'v-lazy-image/v2/v-lazy-image.es.js`

[2021-09-22 10:02] darkissdark commented on #93
[Vue warn]: Failed to resolve async component: function CatalogSearchBar() {
    return __webpack_require__.e/* import() */(36).then(__webpack_require__.bind(null, 1775));
}
Reason: SyntaxError: Unexpected token 'export'
error: Error: render function or template not defined in component

[2021-10-29 04:03] megasanjay opened #97 "Usage in Nuxt 3"
Trying to use the component with nuxt 3 renders a warning and then an error.

[code]
[code]

[2021-11-12 01:54] WoetDev commented on #93
I'm also receiving the error

`Cannot find module 'v-lazy-image/v2'` when using `import VLazyImage from 'v-lazy-image/v2'`

OR

`SyntaxError
Unexpected token 'export'` when using `import VLazyImage from 'v-lazy-image/v2/v-lazy-image.es.js'`

Any way to fix this?

[2021-11-26 21:01] codemaoz90 opened #98 "Problems when i try to import in Vue2"
I got this error, if someone can help me.

![image](https://user-images.githubusercontent.com/38266840/143644133-5c4a6026-3cc5-411e-b378-402583c1038c.png)

[2021-11-26 21:05] codemaoz90 commented on #98
Hi again =D, I found the solution here!!

[Link  to the issue](https://github.com/alexjoverm/v-lazy-image/issues/93#issuecomment-924761814)

[2021-11-26 21:05] #98 closed

[2021-12-09 14:28] subdesign opened #99 "v-lazy-image tag comes from db"
How to initialize the plugin if the image link comes from DB as a CMS article? So the article contains html, text and one or more <v-lazy-image> tag?

[2021-12-12 21:30] michaelpumo commented on #95
For Vue 2, I think you need:

`import VLazyImage from "v-lazy-image/v2";`

However, this doesn't work for me and shows me: **Cannot find module 'v-lazy-image/v2'**

[2021-12-12 21:31] michaelpumo commented on #93
I'm getting this error too. Need an urgent fix or might have to resort to downgrading / moving to another library.

[2021-12-12 21:34] michaelpumo opened #100 "Unexpected token 'export'"
In Vue 2 (Nuxt.js), importing like so results in the above error:

`import VLazyImage from 'v-lazy-image/v2/v-lazy-image.es.js'`

Importing via (as recommended in the docs):

`import VLazyImage from 'v-lazy-image/v2'`

...results in:

Cannot find module 'v-lazy-image/v2'

Version `2.0.1` therefore appears completely broken in Vue 2. Any ideas?

[2021-12-17 10:03] subdesign commented on #99
never mind, I solved it with native lazyload

[2021-12-17 10:03] #99 closed

[2021-12-22 07:39] gaethug commented on #93
@WoetDev
I have same issue...

[2021-12-25 20:14] anburocky3 opened #102 "VLazyImage not resolving paths (vite & relative paths) - Only CDN Images works"
Eg:
[code]

But on using it with `VLazyImage`
[code]

These are my `vite.config.ts`

[code]

Even, relative links are not working here. only cdn works for now.

[2021-12-29 01:39] GregoireF commented on #95
Hi,

Indeed the configuration of @michaelpumo is correct. However I am on the same incident to date.
Any resolution in progress on this issue?

[2021-12-29 01:43] GregoireF commented on #93
Hi everyone,

Same incident on a VuePress configuration with Vue2

[2022-01-17 05:05] romain-lgr commented on #100
I had a similar error but I could use the package with Nuxt bridge by doing the following:

`import VLazyImage from "v-lazy-image/v2"` in my compoment

Add to `nuxt.config.js`:
[code]

Then `nuxi dev` and `nuxi generate` work fine

[2022-01-25 14:51] TheNoim commented on #93
I think there a two options for you:

1. Use `v-lazy-image/v2/v-lazy-image.umd.js` instead of `v-lazy-image/v2/v-lazy-image.es.js`
2. Transpile the module. You need to look up yourself how this works with the tooling which you are using. In nuxt you can add `v-lazy-image/v2/v-lazy-image.es.js` to `build.transpile` in your nuxt config.

[2022-01-28 14:58] cezarmaftei opened #103 "Picture slots aren't working, throwing a message instead"
Using slots as described here -> https://vuedose.tips/use-responsive-images-with-v-lazy-image#picture throws this message:

(...args) => {
	// If a user calls a compiled slot inside a template expression (#1745), it
	// can mess up block tracking, so by default we disable block tracking and
	// force bail out when invoking a compiled slot (indicated by the ._d flag).
	// This isn't necessary if re

[2022-02-03 08:26] wjonkerhulst commented on #93
Same problem. Would be helpful to add some additional information to the documentation.

`v-lazy-image/v2/v-lazy-image.umd.js` seem to have solved the import problem for me.

[2022-02-11 00:52] mikob opened #105 "Does this have any advantages over https://github.com/RadKod/v-lazy-component ?"
It seems https://github.com/RadKod/v-lazy-component supersedes the functionality here, and allows for more flexibility. E.g. specifying `type` attributes in source.

[2022-02-11 01:07] mikob commented on #105
Also I think a lot of ppl are using this plugin unnecessarily when `<img src="image.jpg" alt="..." loading="lazy">` will suffice. I think it should be mentioned in the docs.

[2022-02-13 20:38] alexjoverm commented on #44
Fixed by v2.0.0

[2022-02-13 20:38] #44 closed

[2022-02-13 20:42] alexjoverm commented on #69
There was major rework for v2.0.0. Feel free to open a new PR with the change in `index.js` and `index-v2.js` :)

[2022-02-13 20:54] alexjoverm commented on #87
Since v2.0.0 there is Vue 3 support, and is the default :)

[2022-02-13 20:54] #87 closed

[2022-02-13 20:56] alexjoverm commented on #24
I think that'd require some rework in the library... I'm open to ideas

[2022-02-13 20:58] alexjoverm commented on #25
This should be implemented in latest version

[2022-02-13 20:58] #25 closed

[2022-02-13 20:59] alexjoverm commented on #29
It's true that case is not handled yet in the lib... Would you like to open PR?

[2022-02-13 21:08] alexjoverm commented on #40
Hey! For <img> should work correctly, but true that when using use-picture it gets added to the root element. That's just how Vue 2 works, but maybe can be done via a prop

[2022-02-13 21:08] #42 closed

[2022-02-13 21:10] alexjoverm commented on #47
Yeah... That's just how Vue 2 works, but maybe can be done via a prop. If you want you can go for a PR :)

[2022-02-13 21:10] alexjoverm commented on #40
Closing in favor of #47

[2022-02-13 21:10] #40 closed

[2022-02-13 21:11] alexjoverm commented on #49
Should be fixed in latest version

[2022-02-13 21:11] #49 closed

[2022-02-13 21:11] #51 closed

[2022-02-13 21:11] alexjoverm commented on #53
You can do it by using the @error event

[2022-02-13 21:11] #53 closed

[2022-02-13 21:13] alexjoverm commented on #65
You should be able to do that. Please reopen with a repro demo in case it doesn't

[2022-02-13 21:13] #65 closed

[2022-02-13 21:14] alexjoverm commented on #69
Fixed in latest version

[2022-02-13 21:14] #69 closed

[2022-02-13 21:17] alexjoverm commented on #72
You're free to set the dimensions attributes. That said, the library hasn't been tested with `loading=lazy` yet, but it's a feature I'd be happy to have. Closing this for now

[2022-02-13 21:17] #72 closed

[2022-02-13 21:19] alexjoverm commented on #74
Actually you should be able to pass them. `inheritAttrs:false` is there because the libs manually adds the attrs to the right element, having grained control over it https://github.com/alexjoverm/v-lazy-image/blob/master/v-lazy-image/index-v2.js#L50. Feel free to reopen if it's not the case

[2022-02-13 21:19] #74 closed

[2022-02-13 21:21] alexjoverm commented on #78
Awesome point @AndrewBogdanovTSS. That's a case actually not handled. A nice and easy fix for that would be checking if `window` exists, and if not then use `src` as `srcPlaceholder`

[2022-02-13 21:21] alexjoverm commented on #78
If you want to open a PR I'd be happy to review

[2022-02-13 21:23] alexjoverm commented on #79
Do you think it would be fixed by #78? Or there would be other things take into consideration?

[2022-02-13 21:26] alexjoverm commented on #81
I'm sorry, but I don't understand the issue here. Feel free to reopen with more info and repro demo

[2022-02-13 21:26] #81 closed

[2022-02-13 21:26] alexjoverm commented on #82
It'd need to have a repro issue. Feel free to reopen with it

[2022-02-13 21:26] #82 closed

[2022-02-13 22:02] alexjoverm commented on #94
Why doesn't allow you? Could you post a repro issue (on Stackblitz for instance)

[2022-02-13 22:03] alexjoverm commented on #95
Should be fixed in latest v2.1.0. Please reopen if it's not the case

[2022-02-13 22:03] #95 closed

[2022-02-13 22:05] alexjoverm commented on #105
The purposes are different. `loading="lazy"` could be implemented by this lib under the hood, but it's not the only functionality it offers. Feel free to create an issue or PR with proposals

[2022-02-13 22:05] #105 closed

[2022-02-13 22:05] alexjoverm commented on #100
Should be fixed in latest v2.1.0. Please reopen if it's not the case

[2022-02-13 22:05] #100 closed

[2022-02-13 22:06] alexjoverm commented on #97
Should be fixed in latest v2.1.0. Please reopen if it's not the case

[2022-02-13 22:06] #97 closed

[2022-02-13 22:06] alexjoverm commented on #93
Should be fixed in latest v2.1.0. Please reopen if it's not the case

[2022-02-13 22:06] #93 closed

[2022-02-13 22:08] alexjoverm commented on #102
Not sure what can be the issue here... any clues?

[2022-02-13 22:10] alexjoverm commented on #103
Can you please provide a repro demo?

[2022-02-13 22:26] alexjoverm commented on #47
Actually, this is fixed and should work in latest version > 2.1.0

[2022-02-13 22:26] #47 closed

[2022-02-14 08:28] cezarmaftei commented on #103
Hi Alex,

Thanks for your reply!

I am trying to use the <source> slots to add the .webp versions alongside .jpg. In the examples that you posted on [Codesandbox](https://codesandbox.io/s/v-lazy-image-responsive-images-forked-kq48f?from-embed=&file=/src/App.vue:609-998) the `<v-lazy-image>` component doesn't have a `<source>` child.

My component code is:
`
<v-lazy-image :srcset="fallbackImage" al

[2022-02-14 09:13] alexjoverm commented on #103
I navigated to your site but I see no errors in the console... Additionally, it'd make it much easier to find out if you're able to provide an isolated reproduction demo. You can fork any of the codesandbox demos and make the error appear.

[2022-02-22 03:24] rexdarelandig opened #106 "Cannot import it on vue 2"
I followed the import
import VLazyImage from "v-lazy-image/v2";

and got this
`Module not found: Error: Package path ./v2 is not exported from package`

[2022-03-02 13:39] hzjsti commented on #106
The same for me... Going back to version 1.4.0 fixes the problem of course.

[2022-04-06 03:07] eddieferrer commented on #106
With Vue 2 you should try:
`import VLazyImage from 'v-lazy-image/v2/v-lazy-image.es';`

[2022-04-11 11:03] ilyen85 commented on #106
Hi, sorry but this isn't working for me.

I have tried:
[code]
None of these have worked

[2022-06-02 08:27] AdamSGit commented on #103
I can confirm that I have this issue as well. To reproduce, simply use demo code with picture slot.

##### Env :

- vue@3.2.26
- vite@2.9.9
- v-lazy-image@2.1.1

[2022-08-03 08:01] semvgelooven commented on #103
I created a pull request to fix this issue, the solution was to use `slots.default()` instead of `slots.default`. You can check my fork: https://github.com/semvgelooven/v-lazy-image

[2022-09-22 13:50] AhmedSayedSk commented on #106
Same issue, any updates?